.contact__section {
  @apply max-w-[42rem] pb-[150px];
}
.contact__txt {
  @apply sm:text-lg text-base mb-4;
}

/* form */
form {
  @apply flex flex-col gap-5;
  color: var(--text-color);
}
input,
textarea {
  @apply border border-black/5 rounded-xl px-5 py-3 text-sm;
  background-color: var(--card-bg);
}
.spinner {
  @apply h-5 w-5 animate-spin rounded-full border-b-2;
  border-color: var(--nav-bg);
}
.submit-btn {
  @apply sm:min-w-[120px] text-base py-3 px-6 min-w-[max-content] flex justify-center items-center my-[2px];
}
.submit-btn svg {
  @apply ml-1;
}
/* form */
