.intro__section {
  @apply mt-[150px];
}

.intro__section .profile {
  @apply h-24 w-24 rounded-full object-cover border-[0.35rem]  shadow-xl;
  border-color: var(--top-nav-bg);
}
.intro__section .profile__icon {
  @apply absolute bottom-0 left-[100%] right-[25px] text-4xl flex items-center cursor-pointer z-[100];
}
.intro__section .profile__icon.bounch {
  animation: bounce 2s ease infinite;
  -webkit-animation: bounce 2s ease infinite;
}
.intro__section .profile__icon:hover {
  animation: none;
  -webkit-animation: none;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
  }
}
.intro__section .profile__icon .speaker__bar {
  @apply rounded-full p-2 relative z-10;
  color: var(--body-bg);
  background: var(--linear);
  right: 25px;
}
.intro__section .profile__icon .speaker__bar.show::before,
.intro__section .profile__icon .speaker__bar.show::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--linear);
  opacity: 0.3;
  transform: scale(1);
  z-index: -2;
  top: 0;
  left: 0;
  border-radius: 50%;
  animation: anim-btn 2s linear infinite;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.intro__section .profile__icon .speaker__bar.show::after {
  animation-delay: 1s;
}
@keyframes anim-btn {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  to {
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
  }
}
.profile__wrapper {
  @apply flex justify-center items-center mb-8;
}
.profile__wrapper .wrapper {
  @apply relative;
}
.profile__wrapper .wrapper .profile-border {
  @apply w-[115%] h-[115%] absolute rounded-full top-[50%] left-[50%] z-10;
  transform: translate(-50%, -50%);
}
/* .profile__wrapper .wrapper .profile-border::before {
  content: "";
  background-color: var(--line-dot-color);
  position: absolute;
  left: 0;
  top: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
} */
.profile__wrapper .wrapper .profile-border #profile-circle {
  animation: rotation 8s -3s linear infinite;
  -webkit-animation: rotation 8s -3s linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg) translate(-95px) rotate(0deg);
    -webkit-transform: rotate(0deg) translate(-95px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(-95px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(-95px) rotate(0deg);
    -o-transform: rotate(0deg) translate(-95px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-95px) rotate(-360deg);
    -webkit-transform: rotate(360deg) translate(-95px) rotate(-360deg);
    -moz-transform: rotate(360deg) translate(-95px) rotate(-360deg);
    -ms-transform: rotate(360deg) translate(-95px) rotate(-360deg);
    -o-transform: rotate(360deg) translate(-95px) rotate(-360deg);
  }
}

.intro__section h1 {
  @apply mb-10 mt-4 px-4 text-2xl font-medium !leading-[1.5] sm:text-3xl text-center;
}
.intro__section h1 span {
  @apply font-bold;
}
.intro__section h1 span.italic {
  font-style: italic;
}
.intro__section h1 span.underline {
  text-decoration: underline;
}
.intro__section .type__writer {
  position: absolute;
  right: auto;
  left: 115%;
  width: 100%;
  bottom: 2px;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.intro__section .type__writer.hide {
  opacity: 0;
}
/* .intro__section h1 {
  background: var(--linear-heading);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
} */

/* #bars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -2.3px;
}

.bar {
  background: var(--primary-color);
  bottom: 1px;
  height: 3px;
  width: 2.3px;
  margin: 0px 2px;
  border-radius: 5px;
  animation: sound 0ms -600ms linear infinite alternate;
  -webkit-animation: sound 0ms -600ms linear infinite alternate;
}
.speaker__bar {
  transform-origin: left;
  transform: scaleX(0);
  transition: all 1s ease-out;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}
.speaker__bar.show {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 20px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.bar:nth-child(2) {
  left: 15px;
  animation-duration: 433ms;
}
.bar:nth-child(3) {
  left: 29px;
  animation-duration: 407ms;
}
.bar:nth-child(4) {
  left: 43px;
  animation-duration: 458ms;
} */
