@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(3, 34, 143);
  --secondary-color: #0e73e4;
}

html {
  @apply !scroll-smooth;
}

html {
  --line-color: var(--primary-color);
  --line-dot-color: #1940aa;
  --body-bg: #f9fafb;
  --body-color: #333;
  --top-nav-bg: rgba(255, 255, 255, 0.7);
  --nav-bg: #e2e2e3;
  --nav-link-bg: rgba(3, 34, 143, 0.08);
  --heading-color: #333;
  --shadow: rgba(0, 0, 0, 0.5);
  --txt: rgba(0, 0, 0, 0.4);
  --hover-txt: var(--primary-color);
  --drop-shadow: 0 15px 35px var(--shadow);
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.5);
  --line-dot-color: #e5e7eb;
  --body-bg: #111827;
  --body-color: rgba(249, 250, 251, 0.9);
  --top-nav-bg: rgba(3, 7, 18, 0.75);
  --nav-bg: #060b17;
  --nav-link-bg: rgba(249, 250, 251, 0.05);
  --heading-color: #e2e2e3;
  --shadow: rgba(255, 255, 255, 0.5);
  --txt: rgba(255, 255, 255, 0.4);
  --hover-txt: #fff;
  --drop-shadow: 0 37px -1px var(--shadow);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  font-family: var(--comicNeue-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--raleway-font);
  background: var(--heading-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  @apply font-bold;
}
.my__container {
  @apply mx-auto px-10;
  max-width: 1200px;
}

.mySection {
  height: 100vh;
  /* display: flex;
  justify-content: center; */
  /* align-items:center; */
  scroll-margin-top: 6rem;
}

.heading h1 {
  @apply font-bold text-6xl pb-1;
}
.heading .heading-line {
  position: relative;
  background-color: var(--line-color);
  height: 5px;
  width: 90px;
  border-radius: 30px;
  margin: 20px auto;
}
.heading .heading-line:before {
  background-color: var(--line-dot-color);
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-direction: alternate-reverse;
  -webkit-animation-name: watermark-animate;
  animation-name: watermark-animate;
}

@keyframes watermark-animate {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

@media (max-width: 640px) {
  .my__container {
    @apply mx-auto px-5;
  }
}

/* .heading .wave {
  margin-left: 10px;
}

.heading .wave .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 3px;
  background: var(--heading-color);
  animation: wave 1.3s linear infinite;
}

.heading .wave .dot:nth-child(2) {
  animation-delay: -1.1s;
}
.heading .wave .dot:nth-child(3) {
  animation-delay: -0.9s;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-15px);
  }
} */
