@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700");
body,
h1,
h2,
h3,
h4,
h5,
span,
a {
  font-family: "Montserrat", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: #03041c;
}

span {
  color: #000;
}

.active {
  color: #03041c !important;
  font-weight: bold;
}

.uk-active {
  box-shadow: 0 -2px 5px #555;
}

.hover-btn {
  position: relative;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  text-transform: capitalize;
  border: 1px solid #03041c;
  color: #03041c;
  background: transparent;
}
.hover-btn:hover {
  color: #fff;
  transform: translateX(10px);
}
.hover-btn::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #03041c;
  transition: 0.5s;
  z-index: -1;
}
.hover-btn:hover::before {
  width: 100%;
}

.uk-navbar-right {
  padding-right: 40px;
}

.logo {
  cursor: pointer;
  padding-left: 40px;
}
.logo span {
  font-family: "Jolly Lodger", cursive !important;
  line-height: 20px;
  color: #03041c;
  font-size: 25px;
}
.logo .slash {
  color: #03041c;
  font-size: 2rem;
  transform: rotate(-20deg);
  margin-right: -0.7rem;
}

.head {
  border-bottom: 1px solid #03041c;
}
.head .head-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 40px;
}
.head .head-1 a {
  color: #000;
  display: inline-block;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}
.head .head-1 a:hover {
  color: #03041c;
  text-decoration: none;
  transform: translateX(10px);
}
.head .head-2 {
  padding: 1rem 3rem;
  background: #03041c;
  -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  text-align: right;
}
.head .head-2 a {
  color: #fff;
  display: inline-block;
  margin: 0 1rem;
  transition: all 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
}
.head .head-2 a:hover {
  transform: scale(1.3);
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #fff;
}

.dp {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 3rem auto !important;
  overflow: hidden;
  display: flex;
}
.dp .border-top,
.dp .border-bottom,
.dp .border-left,
.dp .border-right {
  position: absolute;
  -webkit-animation: 8s linear infinite;
  animation: 8s linear infinite;
}
.dp .border-top {
  top: 0;
  left: 0;
  height: 3px;
  -webkit-animation-name: border-top;
  animation-name: border-top;
}
.dp .border-bottom {
  bottom: 0;
  right: 0;
  height: 3px;
  -webkit-animation-name: border-bottom;
  animation-name: border-bottom;
}
.dp .border-left {
  bottom: 0;
  left: 0;
  width: 3px;
  -webkit-animation-name: border-left;
  animation-name: border-left;
}
.dp .border-right {
  top: 0;
  right: 0;
  width: 3px;
  -webkit-animation-name: border-right;
  animation-name: border-right;
}
.dp img {
  transform: scale(0.9);
  transition: all 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.dp img:hover {
  transform: scale(0.85);
  opacity: 0.7;
}

@-webkit-keyframes border-top {
  25% {
    width: 0;
    background: #03041c;
  }
  35% {
    width: 100%;
    background: #03041c;
  }
  50% {
    background: #03041c;
  }
  65% {
    background: #03041c;
  }
  75% {
    width: 100%;
    background: #03041c;
  }
  85% {
    left: auto;
    right: 0;
    width: 0;
    background: #03041c;
  }
}

@keyframes border-top {
  25% {
    width: 0;
    background: #03041c;
  }
  35% {
    width: 100%;
    background: #03041c;
  }
  50% {
    background: #03041c;
  }
  65% {
    background: #03041c;
  }
  75% {
    width: 100%;
    background: #03041c;
  }
  85% {
    left: auto;
    right: 0;
    width: 0;
    background: #03041c;
  }
}
@-webkit-keyframes border-bottom {
  0% {
    width: 0;
  }
  15% {
    width: 100%;
    background: #03041c;
  }
  25% {
    background: #03041c;
  }
  35% {
    background: #03041c;
  }
  50% {
    width: 100%;
    background: #03041c;
  }
  65% {
    left: 0;
    width: 0;
    background: #03041c;
  }
  75% {
    background: #03041c;
  }
}
@keyframes border-bottom {
  0% {
    width: 0;
  }
  15% {
    width: 100%;
    background: #03041c;
  }
  25% {
    background: #03041c;
  }
  35% {
    background: #03041c;
  }
  50% {
    width: 100%;
    background: #03041c;
  }
  65% {
    left: 0;
    width: 0;
    background: #03041c;
  }
  75% {
    background: #03041c;
  }
}
@-webkit-keyframes border-left {
  15% {
    height: 0;
    background: #03041c;
  }
  25% {
    height: 100%;
    background: #03041c;
  }
  35% {
    background: #03041c;
  }
  50% {
    background: #03041c;
  }
  65% {
    height: 100%;
    background: #03041c;
  }
  75% {
    top: 0;
    height: 0;
    background: #03041c;
  }
  85% {
    background: #03041c;
  }
}
@keyframes border-left {
  15% {
    height: 0;
    background: #03041c;
  }
  25% {
    height: 100%;
    background: #03041c;
  }
  35% {
    background: #03041c;
  }
  50% {
    background: #03041c;
  }
  65% {
    height: 100%;
    background: #03041c;
  }
  75% {
    top: 0;
    height: 0;
    background: #03041c;
  }
  85% {
    background: #03041c;
  }
}
@-webkit-keyframes border-right {
  35% {
    height: 0;
    background: #03041c;
  }
  50% {
    height: 100%;
    background: #03041c;
  }
  65% {
    background: #03041c;
  }
  75% {
    background: #03041c;
  }
  85% {
    height: 100%;
    background: #03041c;
  }
  100% {
    top: auto;
    bottom: 0;
    height: 0;
    background: #03041c;
  }
}
@keyframes border-right {
  35% {
    height: 0;
    background: #03041c;
  }
  50% {
    height: 100%;
    background: #03041c;
  }
  65% {
    background: #03041c;
  }
  75% {
    background: #03041c;
  }
  85% {
    height: 100%;
    background: #03041c;
  }
  100% {
    top: auto;
    bottom: 0;
    height: 0;
    background: #03041c;
  }
}
.small-image {
  cursor: pointer;
}

#show_image_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  display: none;
  width: 100%;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  height: 100vh;
}
#show_image_popup .close-btn-area {
  position: absolute;
  right: 10px;
  top: 10px;
}
#show_image_popup .close-btn-area #close-btn {
  border: 0;
  font-size: 30px;
  background: #880808;
  width: 30px;
  height: 30px;
  line-height: 15px;
  position: relative;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
}
#show_image_popup .close-btn-area #close-btn:hover {
  background: #eb2117;
}
#show_image_popup img {
  max-width: 90%;
  height: auto;
  max-height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: block;
}

.info h1 {
  font-weight: bold;
}
.info p {
  color: #555;
}

marquee img {
  height: 180px;
}

.wrap {
  min-height: 430px;
}

.form-stepper {
  margin-top: -61px;
}

.MuiStepIcon-root.MuiStepIcon-completed,
.MuiStepIcon-root.MuiStepIcon-active {
  color: #03041c !important;
}

.MuiSvgIcon-root {
  width: 1.3em !important;
  height: 1.3em !important;
}

.css-eglki6-MuiLinearProgress-root {
  background-color: transparent !important;
  height: 9px !important;
  border-radius: 500px;
  margin-top: 1rem !important;
}

.css-5xe99f-MuiLinearProgress-bar1 {
  background-color: #03041c !important;
}

.b {
  padding-left: 5rem !important;
}

.l {
  margin-left: 5rem;
}

.r {
  margin-right: 7rem;
}

.skill-bar {
  overflow: hidden;
}
.skill-bar .skill-txt h5 {
  font-weight: bold;
  margin: 0 0.5rem;
}
.skill-bar .skill-txt span {
  font-style: italic;
}
.skill-bar .skill-txt .skill-icon {
  animation: upDown 1s ease-in-out infinite alternate-reverse both;
  margin-left: 0.5rem;
}
.skill-bar .skill-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #d9d9d9;
  z-index: -1;
  height: 9px;
  border-radius: 500px;
}

@-webkit-keyframes upDown {
  from {
    transform: translateY(0);
    transform: scale(0.9);
  }
  from {
    transform: translateY(13%);
    transform: scale(1.1);
  }
}

@keyframes upDown {
  from {
    transform: translateY(0);
    transform: scale(0.9);
  }
  from {
    transform: translateY(13%);
    transform: scale(1.1);
  }
}
.skill-button {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.prev {
  transform: rotate(90deg);
}
.prev:hover {
  transform: rotate(0deg);
}

.next {
  transform: rotate(-90deg);
}
.next:hover {
  transform: rotate(0deg);
}

.disable {
  transform: rotate(0deg);
}
.disable:hover {
  transform: rotate(0deg);
}

@-webkit-keyframes animate {
  from {
    transform: translate(0);
  }
  from {
    transform: translate(9%);
  }
}

@keyframes animate {
  from {
    transform: translate(0);
  }
  from {
    transform: translate(9%);
  }
}
@-webkit-keyframes animate2 {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-9deg);
  }
}
@keyframes animate2 {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-9deg);
  }
}
.exp .exp-img img,
.exp .edu-img img,
.edu .exp-img img,
.edu .edu-img img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.edu,
.exp {
  height: 430px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.edu .edu-info,
.edu .exp-info,
.exp .edu-info,
.exp .exp-info {
  padding: 1rem;
  position: relative;
}
.edu .edu-info .edu-logo,
.edu .edu-info .exp-logo,
.edu .exp-info .edu-logo,
.edu .exp-info .exp-logo,
.exp .edu-info .edu-logo,
.exp .edu-info .exp-logo,
.exp .exp-info .edu-logo,
.exp .exp-info .exp-logo {
  width: 40px;
  height: 40px;
  background: #03041c;
  border-radius: 50%;
  color: #fff;
  margin-right: 1rem;
}
.edu .edu-info .edu-logo .logo-wrap,
.edu .edu-info .exp-logo .logo-wrap,
.edu .exp-info .edu-logo .logo-wrap,
.edu .exp-info .exp-logo .logo-wrap,
.exp .edu-info .edu-logo .logo-wrap,
.exp .edu-info .exp-logo .logo-wrap,
.exp .exp-info .edu-logo .logo-wrap,
.exp .exp-info .exp-logo .logo-wrap {
  display: block;
  margin: 0 auto;
  height: 100%;
}
.edu .edu-info span,
.edu .exp-info span,
.exp .edu-info span,
.exp .exp-info span {
  color: #555;
  font-style: italic;
  font-size: 14px;
}
.edu .edu-info p,
.edu .exp-info p,
.exp .edu-info p,
.exp .exp-info p {
  margin: 0.3rem 0;
  font-size: 16px;
  color: #000;
}
.edu .edu-info h5,
.edu .exp-info h5,
.exp .edu-info h5,
.exp .exp-info h5 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
.edu .edu-info::after,
.edu .exp-info::after,
.exp .edu-info::after,
.exp .exp-info::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: #03041c;
  top: 0;
  left: 34px;
  z-index: -1;
}

.resume-img {
  height: 300px;
}
.resume-img .animate {
  animation: animate 2s ease-in-out infinite alternate-reverse both;
}
.resume-img .animate2 {
  transform-origin: center;
  transform-style: preserve-3d;
  animation: animate2 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes animateBtn {
  from {
    transform: translateY(0);
  }
  from {
    transform: translateY(15%);
  }
}

@keyframes animateBtn {
  from {
    transform: translateY(0);
  }
  from {
    transform: translateY(15%);
  }
}
.resume-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: transparent;
  text-transform: capitalize;
}
.resume-btn .animate-btn {
  animation: animateBtn 1s ease-in-out infinite alternate-reverse both;
  transition: all 0.3s ease-in-out;
  color: #03041c;
}
.resume-btn h5 {
  font-weight: bold;
  margin: 0;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.resume-btn:hover .animate-btn, .resume-btn:hover h5 {
  color: #69b11a;
}

.code {
  height: 100vh;
  background-image: url(./img/code.gif);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-position: bottom;
}
.code img {
  width: 100%;
  height: 100%;
}
.code:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#fff, transparent);
  top: 0;
  left: 0;
}

.txt {
  text-align: center;
  font-weight: 1000;
  font-size: 30px;
  color: #03041c;
}
.txt .loader {
  height: 40px;
  margin-bottom: -7px;
}

.projects {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.projects .project-swiper {
  position: relative;
  overflow: hidden;
}
.projects .project-swiper .project-bg {
  background: rgba(3, 4, 28, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.projects .project-swiper .project-link {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.projects .project-swiper .project-link .web {
  transition: all 0.3s ease-in-out;
}
.projects .project-swiper .project-link .git {
  transition: all 0.3s ease-in-out 0.3s;
}
.projects .project-swiper .project-link .web,
.projects .project-swiper .project-link .git {
  margin-top: -200%;
  width: 50px;
  height: 50px;
  background: #fff;
  line-height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.projects .project-swiper .project-link .web a,
.projects .project-swiper .project-link .git a {
  line-height: 50px;
  text-align: center;
  display: block;
}
.projects .project-swiper .project-link .web:hover,
.projects .project-swiper .project-link .git:hover {
  transform: translateY(-10px);
  transition: all 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18) !important;
}
.projects .swiper-slide-active:hover .project-bg {
  opacity: 1;
  cursor: pointer;
  visibility: visible;
}
.projects .swiper-slide-active:hover .project-link > .web,
.projects .swiper-slide-active:hover .project-link > .git {
  margin-top: 0;
}
.projects .swiper-slide {
  opacity: 0.5;
  transform: scale(0.7);
  transition: all 0.7s ease-in-out;
}
.projects .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  transition: all 0.7s ease-in-out;
}
.projects .swiper-button-next:after {
  content: url(../src/img/btn.png);
}
.projects .swiper-button-prev:after {
  content: url(../src/img/btn2.png);
}
.projects .swiper-button-next,
.projects .swiper-button-prev {
  top: 57%;
  transition: all 0.3s ease-in-out;
}
.projects .swiper-button-prev {
  left: 20px;
}
.projects .swiper-button-prev:hover {
  transform: rotate(-90deg);
}
.projects .swiper-button-next:hover {
  right: 20px;
  transform: rotate(90deg);
}

.all-project-bg {
  margin-top: 5rem;
  height: 50vh;
  background-image: url(./img/project.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.all-project-bg .project-bg-txt {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
.all-project-bg .project-bg-txt .Typewriter span {
  font-size: 30px;
  font-weight: bold;
  color: #555;
}
.all-project-bg:hover .project-bg-txt {
  opacity: 1;
}
.all-project-bg:hover .project-bg-txt > .Typewriter > span {
  color: #03041c;
}

.contact .contact-info h4 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.contact .contact-info a {
  color: #555;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}
.contact .contact-info a:hover {
  text-decoration: none;
  transform: translateX(10px);
  color: #03041c;
}
.contact .contact-info .contact-icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: transparent;
  border: 1px solid #03041c;
  border-radius: 50%;
  text-align: center;
  animation: animateBtn 1s ease-in-out infinite alternate-reverse both;
}
.contact .contact-img {
  margin-left: 2rem;
}
.contact .contact-img img {
  height: 300px;
}

.footer {
  background: #03041c;
  background-attachment: fixed;
}
.footer .logo {
  padding-left: 0;
}
.footer .logo span {
  color: #fff;
  margin-left: 0.5rem;
}
.footer .logo .slash {
  color: #fff;
}
.footer .uk-navbar-nav > li > a {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.footer .uk-navbar-nav > li > a:hover {
  transform: translateX(5px);
}
.footer .foot {
  border-top: 1px solid #fff;
}
.footer .foot .social-links {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 80px;
}
.footer .foot .social-links a {
  color: #03041c;
  margin-right: 1rem;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: #fff;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  -webkit-animation: socialLinks 3s linear infinite;
          animation: socialLinks 3s linear infinite;
}
.footer .foot .social-links a:hover {
  transform: translateX(5px);
}
@-webkit-keyframes socialLinks {
  0% {
    border-radius: 56% 44% 70% 30%/30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85%/72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30%/30% 54% 46% 70%;
  }
}
@keyframes socialLinks {
  0% {
    border-radius: 56% 44% 70% 30%/30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85%/72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30%/30% 54% 46% 70%;
  }
}
.footer .foot .copyright {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 40px;
  align-items: center;
  display: flex;
  justify-content: end;
  background: #fff;
  -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  text-align: right;
}
.footer .foot .copyright span {
  color: #03041c;
  font-size: 14px;
}/*# sourceMappingURL=App.css.map */